.pointers-layer {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	pointer-events: none;
}

.canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*width: 100%;
	height: 100%;*/
	
}

.pointer {
	position: absolute;
	border: 2px solid rgba(245, 56, 56, 0.8);
	/*border-radius: 50%;*/
}