
.questions-block {
	display: flex;
}

.answers {
	border: 1px solid #c9c5c5;
	border-width: 0 0 2px 0;
}

.common-questions {
	border-right: 1px solid silver;
	margin-right: 20px;
	padding-right: 20px;
}

.question[data-answer="true"] .answer-true {
	background-color: yellow;
}

.question[data-answer="false"] .answer-false {
	background-color: yellow;
}

.question[data-answer=""] .no-answer {
	background-color: yellow;
}

.random-events {
	margin-bottom: 20px;
}

.field {
	padding: 20px 10px 10px 10px;
	box-shadow: 0 0 4px silver;
}

.random-event {
	display: flex;
}

input {
	background-image: none;
	border: 1px solid rgb(201, 197, 197);
	background-color: white;

	width: 55px;
	padding: 1px 5px;
	border-width: 0 0 2px 0;

	margin: 0px 4px;


	font-family: "Noto Sans";
	border-bottom-width: 2px;
	font-size: 12px;
}
input:focus {
	border-color: #7d7d7d;
}

:focus {
	outline: 0;
}

.probability[data-equal-value] {
	color: #5a5a5a;
}

input[data-incorrect-value] {
	border-color: #f54242;
}

.description {
	width: 215px;
}

.answer-button {
	cursor: pointer;
	padding: 0 5px;
}

button {
	border: 1px solid silver;
	background: white none repeat scroll 0% 0%;
	margin: 5px 0px;
}


.normal-text {
	font-family: "Noto Sans";
	border-bottom-width: 2px;
	font-size: 12px;
	padding: 1px 0;
	border-bottom: 2px solid transparent;
}

.field[data-bad-datas] .limit-exceeded {
	color: #f54242;
}

.field {
	border: 5px dotted transparent;
}
.field[data-bad-datas] {
	border-color: #f54242;
}
.result {
	border-top: 1px solid silver;
	margin-top: 20px;
	padding-top: 10px;
}
