
.normal-text {
	font-family: "Noto Sans";
	border-bottom-width: 2px;
	font-size: 12px;
	padding: 1px 0;
	line-height: 17px;
}

.questions-block {
	display: flex;
}

.answers {
	border: 1px solid #c9c5c5;
	border-width: 0 0 2px 0;
	padding: 0px 7px;
	
	color: #9e9e9e;
}

/* .common-questions {
} */

.separator {
	width: 1px;
	background: silver none repeat scroll 0% 0%;
	align-items: flex-end;
	margin: 25px 20px 30px;
	height: auto;
}

.question[data-answer="true"] .answer-true {
	background-color: #ffe943;
}

.question[data-answer="false"] .answer-false {
	background-color: #ffe943;
}

.question[data-answer=""] .no-answer {
	background-color: #ffe943;
}

.question {
	color: #9e9e9e;
}

.random-events {
	margin-bottom: 20px;
}

.field {
	padding: 20px 10px 10px 10px;
	box-shadow: 0 0 4px silver;
}

.random-event {
	display: flex;
}

input {
	background-image: none;
	border: 1px solid rgb(201, 197, 197);
	background-color: white;

	width: 55px;
	padding: 1px 5px;
	border-width: 0 0 2px 0;

	margin: 0px 4px;


	font-family: "Noto Sans";
	border-bottom-width: 2px;
	font-size: 12px;
}
input:focus {
	border-color: #7d7d7d;
}

:focus {
	outline: 0;
}

.probability[data-equal-value] {
	color: #5a5a5a;
}

input[data-incorrect-value] {
	border-color: #f54242;
}

.description {
	width: 215px;
}

.answer-button {
	cursor: pointer;
	padding: 0 5px;
	padding: 0 7px;
	
	background-color: #f2f2f2;
	color: #2a2a2a;
}
.normal-button {
	cursor: pointer;

	display: inline-block;
	border: 1px solid silver;
	background: white none repeat scroll 0% 0%;
	margin: 7px 0px;
	padding: 1px 9px;

	outline: none;
	color: #393938;
}
.add-question-button {
	cursor: pointer;
	
	display: inline-block;
	border: 1px solid silver;
	background: white none repeat scroll 0% 0%;
	margin: 7px 0px;
	padding: 1px 9px;
	
	outline: none;
	color: #393938;

	/*border-width: 2px 0px 2px 0px;
	border-color: silver #efefef;*/
}

.column-title {
	margin: 0px 0px 6px;
	font-size: 16px;
	font-family: "DejaVu Serif";
}


.fotter {
	margin: 0px 0px 6px;
	font-size: 16px;
	font-family: "DejaVu Serif";
}


.field[data-bad-data] .limit-exceeded {
	color: #f54242;
}

.field {
	border: 5px dotted transparent;
}
.field[data-bad-data] {
	border-color: #f54242;
}
.result {
	border-top: 1px solid silver;
	margin-top: 20px;
	padding-top: 10px;
}
